
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}

html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    font-weight: 100;
}

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
    object-fit: contain;
    mix-blend-mode: color-burn;
}


#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 10px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}


/* home section  */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 620px;
}

#home::before{
    content: "";
    background:url(img/background.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    top: 0px;
    left: 0px;
}

#home h1{
    columns: white;
    text-align: center;
}
#home p{
    columns: white;
    text-align: center;
    font-size: 1.5rem;
}

/* service section  */

#services{
    margin: 34px;
    display: flex;
    margin-bottom: 0px;
}

#services-container{
    background: #c79c91;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 45px;
    border-radius: 28px;
    background: #f8909a;
    margin-bottom: 20px;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    object-fit: contain;

}

/* clients section  */

#client-section{
    position: relative;
}

#client-section #client{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



#client-section::before{
    content: "";
    position: absolute;
    background: url(img/clientbg.webp) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#client{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.client-item{
    padding: 44px;
}

#client img{
    height: 124px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

/* contact section  */
#contact{
    position:relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url(img/contact.jpg) no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
}

footer{
    background: black;
    color: white;
    padding: 30px 20px;

}

/* utility class  */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    color: black;
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #f8909a;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}


.center{
    text-align: center;
}

/* responsive part  */

@media screen and (max-width : 1170px) {
 
    #navbar{
        flex-direction: column;
    }
    #navbar ul li a{
        font-size: 1rem;
        padding: 0px 7px;
    }

    #home{
        height: 353px;
        padding: 3px 28px;
    }

    #home::before{
        height: 480px;
    }

    #home p{
        font-size: 13px;
    }

    #services{
        flex-direction: column;
    }

    #services .box{
        padding: 14px;
        margin: 2px 0px;
        margin-bottom: 20px;
    }

    #client{
        flex-wrap: wrap;
    }

    .client-item {
        padding: 9px;
    }

    /* #clients img{
        height: 80px;
        padding: 6px;
        
    } */
    #client img {
        height: 80px;
        aspect-ratio: 3/2;
        object-fit: contain;
        mix-blend-mode: color-burn;
    }

    #contact-box form{
        width: 80%;
    }

    .h-primary{
        font-size: 26px;
    }
    .btn{
        font-size: 13px;
        padding: 4px 8px;
    }
}
